$primary-accent-color: #26a69a;
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: transparent;
    -webkit-border-radius: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #26a69a;
    -webkit-border-radius: 8px;
}


/* Animations */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}